*{
    font-family: 'Helvetica', Arial, sans-serif;
}

body{
    background-color: #242429;
}

label{
    color: white;
    user-select: none;
}

button {
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-family: 'Segoe UI';
    color: white;
    background-color: #FFFFFF14;
    padding: 8px 12px 8px 12px;
    cursor: pointer;
    user-select: none;
}

button:hover{
    background-color: #FFFFFF40;
}

table{
    border-collapse: collapse;
    border: 1px solid gray;
}

table th{
    border: 1px solid gray;
    padding: 8px;
}

table td{
    border: 1px solid gray;
    padding: 16px;
}
